*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#F8FAFE;
    --secondary-color:#8A2D5E;
    --terciary-color:#000000
}

body{
    height: 100vh;
    background-color: var(--primary-color);
}

header{
   position: absolute;
   height: 59.9px;
   top: 25px;
   left: 36px;
   width: 1850px;
   justify-content: center;
   align-items: center;
}
.logo{
    width: 268px;
    height: 59.9px;
    left: 0px;
    top: 24px;
}

.lista{
   display: flex;
   width: 386px;
   height: 27px;
   left: 482px;
   top: 15px;
   position: absolute;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 20px ;
   line-height: 27px;
   list-style: none;
   
   
}
.linha{
    position: absolute;
    margin-top: 25px;
    margin-left: -410px;
}

.lista2{
    position: absolute;
    display: flex;
    width: 134px;
    height: 27px;
    top: 0;
    left: 1193px;
}

.l1{
    margin-left: 250px;
    text-decoration: none;
    color: black;
}
.l2{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}
.l3{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}
.l4{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}
.l5{
    margin-left: 15px;
    text-decoration: none;
}
.l6{
    margin-top: 6px;
    margin-left: -4px;
    text-decoration: none;
}
.l7{
    margin-left: 25px;
    text-decoration: none;
}
.l8{
    margin-left: 25.92px;
    text-decoration: none;
}

main{
    display: flex;
    position: absolute;
    left: 200px;
    top: 150px;
   
}
.iron{
    position: absolute;
    display: flex;
    width: 316px;
    height: 805.24px;
    left: -150px;
    margin-top: -50px;
    margin-left: 950px;
}

.t1{
    position: absolute;
    width: 200px;
    height: 23.56px;
    left: 7px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.t2{
    position: absolute;
    width: 500px;
    height: 93px;
    left: 0px;
    top: 14px;
    font-family: 'Gill Sans MT';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 93px;
    color: var(--secondary-color);
}
.t3{
    position: absolute;
    width: 122px;
    height: 32px;
    left: 0px;
    top: 139px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
}
.t4{
    position: absolute;
    width: 430px;
    height: 152px;
    left: 0px;
    top: 172px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.71px;
    line-height: 194.5%;
    width: 430px;
    height: 152px;
}
.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    width: 362px;
    height: 57px;
    left: 0px;
    top: 350px;
    background:#383838 ;
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}
.icones{
    list-style: none;
    position: absolute;
    width: 50px;
    height: 208px;
    left: -100px;
    top: 530px;
}
.next{
    position: absolute;
    width: 271px;
    height: 31px;
    left: 1300px;
    top: 700px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;  
    color: #383838;
    text-decoration: none;
}
.seta{
    position: absolute;
    top: 7px;
}
.tlateral{
    position: absolute;
width: 717px;
height: 183px;
left: 1180px;
margin-top: 200px;
margin-left: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 210px;
letter-spacing: 0.06em;
color: rgba(138, 45, 94, 0.5);
transform: rotate(-90deg)
}